/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  max-height: 99vh;
}

.page-container {
  display: inline-block;
  height: 100%;
  max-width: 700px;
  padding: 0 2em;
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  vertical-align: top;
}

body {
  /* Margin bottom by footer height */
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 2vh;
  height: 100vh;
  white-space: nowrap;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 2vh; /* Vertically center the text there */
  height: 2vh;

}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 1vh 1vw 0;
  width: auto;
}

.title {
  font-family: "Helvetica Neue", serif;
  padding-right: 1vw;
  font-size: x-large;
}

.gallery-image {
  height: 93vh;
  padding-right: 1vw;
  object-fit: contain;
  overflow: hidden;
}

.lunch-choice {
  object-fit: contain;
}

.top-buffer {
  margin-top: 3vh;
}

span[data-href] {
  cursor: pointer;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.copyright {
  position: center;
}

.controller-link {
  padding-left: 1vh;
  padding-bottom: 3vh;
  color: black;
}

.controller-link a {
  font-family: "Helvetica Neue", serif;
  font-size: 2.4vmin;
  color: black;
  text-decoration: none;
}

.gallery-body {
  padding-left: 1vw;
  padding-top: 1vh;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;

  /*&::-webkit-scrollbar {*/
  /*  display: none;*/
  /*}*/
}
